<app-breadcrumbs
  title="MANAGE EXAM"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<!-- <div class="h-100">
    <div class="row mb-3 pb-1">
        <div class="col-12">
            <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                <div class="flex-grow-1">
                    <h4 class="fs-16 mb-1"> Anna!</h4>
                    <p class="text-muted mb-0">Here's what's happening today.</p>
                </div>
               
            </div>
        </div>
    </div>

   


</div> -->
<div class="row">
  <div class="col-12">
    <div class="row">

      <div class="col-xxl-6 col-lg-6">
        <div class="card card-body card-hover" (click)="allowRelogin()">
          <div class="d-flex justify-content-between">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                <i class="las la-redo-alt"></i>
              </div>
            </div>
            <div class="text-end">
              <h6>Allow Relogin</h6>
              <h2>2</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-6 col-lg-6">
        <div class="card card-body card-hover" (click)="lookupCandidate()">
          <div class="d-flex justify-content-between">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                <i class="ri-search-line"></i>
              </div>
            </div>
            <div class="text-end">
              <h6>Lookup Candidate</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-6 col-lg-6">
        <div class="card card-body card-hover">
          <div class="d-flex justify-content-between">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                <i class="ri-repeat-2-line"></i>
              </div>
            </div>
            <div class="text-end">
              <h6>Synchronize Candidates List</h6>
              <button class="btn btn-sm btn-success">Synchronize</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-6 col-lg-6">
        <div class="card card-body card-hover">
          <div class="d-flex justify-content-between">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                <i class="ri-repeat-2-line"></i>
              </div>
            </div>
            <div class="text-end">
              <h6>Synchronize Program</h6>
              <button class="btn btn-sm btn-success">Synchronize</button>
            </div>
          </div>
        </div>
      </div>


      
    </div>
    <!-- end row -->

    
  </div>
  <!-- end col -->
</div>
<!-- end row -->
