<app-breadcrumbs
  title="MONITOR OSCE"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="row">
  <div class="col-12">
    <div class="row">
      <!-- <div class="col-xxl-4 col-lg-6">
        <div class="card card-body card-hover">
          <div class="d-flex justify-content-between">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                <i class="ri-time-line"></i>
              </div>
            </div>
            <div class="text-end">
              <h6>Exam Timer</h6>
              <h2>12:45</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-lg-6">
        <div class="card card-body card-hover">
          <div class="d-flex justify-content-between">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                <i class="ri-shut-down-line"></i>
              </div>
            </div>
            <div class="text-end">
              <h6>Active Systems</h6>
              <h2>4</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-lg-6">
        <div class="card card-body card-hover">
          <div class="d-flex justify-content-between">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                <i class="ri-radar-line"></i>
              </div>
            </div>
            <div class="text-end">
              <h6>Monitoring Server</h6>
              <h2 class="text-success">YES</h2>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-xxl-12">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">OSCE Progress</h4>
                <div class="flex-shrink-0">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected="">Closed Deals</option>
                        <option value="1">Active Deals</option>
                        <option value="2">Paused Deals</option>
                        <option value="3">Canceled Deals</option>
                    </select>
                </div>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-nowrap align-middle mb-0">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30%;">Program</th>
                                <th scope="col" style="width: 30%;">Total Started</th>
                                <th scope="col" style="width: 20%;">Total Ended</th>
                                <th scope="col" style="width: 20%;">Station</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <!-- <td><img src="{{data.profile}}" alt="" class="avatar-xs rounded-circle me-2"> -->
                                    <a href="javascript:void(0);" class="text-body fw-medium">40</a>
                                <!-- </td> -->
                                <td>40</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <!-- <td><img src="{{data.profile}}" alt="" class="avatar-xs rounded-circle me-2"> -->
                                    <a href="javascript:void(0);" class="text-body fw-medium">40</a>
                                <!-- </td> -->
                                <td>40</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <!-- <td><img src="{{data.profile}}" alt="" class="avatar-xs rounded-circle me-2"> -->
                                    <a href="javascript:void(0);" class="text-body fw-medium">40</a>
                                <!-- </td> -->
                                <td>40</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <!-- <td><img src="{{data.profile}}" alt="" class="avatar-xs rounded-circle me-2"> -->
                                    <a href="javascript:void(0);" class="text-body fw-medium">40</a>
                                <!-- </td> -->
                                <td>40</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <!-- <td><img src="{{data.profile}}" alt="" class="avatar-xs rounded-circle me-2"> -->
                                    <a href="javascript:void(0);" class="text-body fw-medium">40</a>
                                <!-- </td> -->
                                <td>40</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <!-- <td><img src="{{data.profile}}" alt="" class="avatar-xs rounded-circle me-2"> -->
                                    <a href="javascript:void(0);" class="text-body fw-medium">40</a>
                                <!-- </td> -->
                                <td>40</td>
                                <td>2</td>
                            </tr>
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    
                </div><!-- end table responsive -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<div class="card">
  <div class="card-body">
    <h6 class="mb-3">All candidates assigned to this exam</h6>
    <div class="d-flex justify-content-between">

    
    <div class="search-box d-inline-block mb-2">
      <input type="text" class="form-control search" placeholder="Search..." />
      <i class="ri-search-line search-icon"></i>
    </div>

    <select class="form-select  mb-3 w-25" aria-label="Default select example">
        <option selected>Filter</option>
        <option value="1">BASIC NURSING</option>
        <option value="2">ORTHOLOGY</option>
        <option value="3">NURSING MATHS</option>
        </select>
    </div>
    <div class="table-responsive">
      <table class="table table-gridjs">
        <thead>
          <tr>
            <th class="sort" data-sort="name">NAME</th>
            <th class="sort" data-sort="email">EXAM NO.</th>
            <th class="sort" data-sort="email">PROGRAM</th>
            <th class="sort" data-sort="email">INSTITUTION</th>
            <th class="sort" data-sort="email">EXAMINER</th>
            <th class="sort" data-sort="email">STATION</th>
            <th class="sort" data-sort="position">STATUS</th>
            <th class="sort" data-sort="company">START TIME</th>
            <th class="sort" data-sort="country">END-TIME</th>
            <th class="sort" data-sort="country">IP-ADDRESS</th>
            <th class="sort" data-sort="country">RESPONSES COUNT</th>
            <th class="sort" data-sort="country">CONNECTED</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Noah Edet</td>
            <td>17CD00GH</td>
            <td>BASIC NURSING</td>
            <td>Patrick Johnson</td>
            <td>
                Patrick Johnson

            </td>
            <td>
                <div>
                    Station 1
                </div>
                <div>
                    Station 2
                </div>
                <div>
                    Station 3
                </div>
                <div>
                    Station 4
                </div>
                <div>
                    Station 5
                </div>
                <div>
                    Station 6
                </div>

            </td>
            <td>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12">
                    Completed
                </div>
              
            </td>
            <td>09:43</td>
            <td>10:43</td>
            <td>192.139.1.1</td>
            <td>43</td>
            <td><button class="btn btn-sm btn-danger">false</button></td>
          </tr>

          <tr>
            <td>Noah Edet</td>
            <td>17CD00GH</td>
            <td>BASIC NURSING</td>
            <td>Patrick Johnson</td>
            <td>
                Patrick Johnson

            </td>
            
            <td>
                <div>
                    Station 1
                </div>
                <div>
                    Station 2
                </div>
                <div>
                    Station 3
                </div>
                <div>
                    Station 4
                </div>
                <div>
                    Station 5
                </div>
                <div>
                    Station 6
                </div>

            </td>
            <td>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12">
                    Completed
                </div>
              
            </td>
            <td>09:43</td>
            <td>10:43</td>
            <td>192.139.1.1</td>
            <td>43</td>
            <td><button class="btn btn-sm btn-danger">false</button></td>
          </tr>

          <tr>
            <td>Noah Edet</td>
            <td>17CD00GH</td>
            <td>BASIC NURSING</td>
            <td>Patrick Johnson</td>
            <td>
                Patrick Johnson

            </td>
            <td>
                <div>
                    Station 1
                </div>
                <div>
                    Station 2
                </div>
                <div>
                    Station 3
                </div>
                <div>
                    Station 4
                </div>
                <div>
                    Station 5
                </div>
                <div>
                    Station 6
                </div>

            </td>
            <td>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12 mb-1">
                    Completed
                </div>
                <div class="bg-success text-white rounded-1 px-1 fs-12">
                    Completed
                </div>
              
            </td>
            <td>09:43</td>
            <td>10:43</td>
            <td>192.139.1.1</td>
            <td>43</td>
            <td><button class="btn btn-sm btn-danger">false</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
