<app-breadcrumbs
  title="MARK PROCEDURE / {{currentExaminer.procedureName}}"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="d-flex justify-content-between gap-4">
  <div class="mb-4">
    <h6 class="text-muted">Enter exam number of candidate to grade</h6>
    <div class="input-group">
      <input #examNumberRef type="text" class="form-control" />
      <button
        (click)="
          getCandidateToGrade(
            currentExaminer.examId,
            currentExaminer.id,
            currentExaminer.programId,
            currentExaminer.procedureId,
            examNumberRef.value
          )
        "
        class="btn btn-outline-primary"
        type="button"
        id="button-addon2"
        [disabled]="isAssessmentOn"
      >
        Search
      </button>
    </div>
  </div>

  <div>
    <button
      (click)="openMarkingGuide(markingGuide)"
      class="btn btn-sm btn-soft-primary"
    >
      View marking guide
    </button>
  </div>
</div>
<div *ngIf="candidateToGrade != null">

<div class="card" *ngIf="isFound">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="mb-0">
        <p>
          <strong> Candidate Name:</strong>
          {{ candidateToGrade.candidateDetails.name }}
        </p>
        <p>
          <strong> Exam Number:</strong>
          {{ candidateToGrade.candidateDetails.examNumber }}
        </p>
        <p>
          <strong> Program:</strong>
          {{ candidateToGrade.candidateDetails.programName }}
        </p>
        <p>
          <strong> Institution:</strong>
          {{ candidateToGrade.candidateDetails.institution }}
        </p>
        <button
          *ngIf="!isAssessmentOn"
          class="btn btn-sm btn-outline-success"
          (click)="startAssessment()"
        >
          Start Assesment
        </button>
        <button
          *ngIf="isAssessmentOn"
          class="btn btn-sm btn-outline-danger"
          (click)="openEndExamConfirmationDialog(confirmationModal)"
        >
          End Assesment
        </button>
      </div>

      <div>
        <div
          class="d-flex justify-content-center rounded-3 gap-2 bg-danger text-white text-center p-2"
        >
          <i class="ri-timer-line align-middle text-white"></i>
          <span class="text-white align-middle">
            {{ displayTimerText() }}
          </span>
        </div>
        <img
          class="img-thumbnail mb-3 w-100 text-center"
          style="max-height: 90px"
          src="/assets/images/users/avatar-8.jpg"
          alt="candidate-image"
        />
      </div>
    </div>

    <ng-container *ngIf="isAssessmentOn">
      <div class="d-flex justify-content-between card-header mt-5 p-0">
        <h5>Activities</h5>
        <h5>Completed ({{candidateToGrade.candidateDetails.activitiesScores.length}} of {{ candidateActivitiesLength }})</h5>
      </div>

      <div style="height: 50vh">
        <ngx-simplebar style="max-height: 90%">
          <ol class="mt-3">
            <li
              style="font-size: 16px"
              *ngFor="
                let activity of candidateToGrade.activities;
                let i = index
              "
            >
            <div class="d-flex">
 <span [innerHTML]="activity.activity"></span> 
            </div>
            

              <div class="">
                <div class="d-flex btn-group w-100 mt-4 mb-5">
                  <ng-container
                    *ngFor="
                      let grade of candidateToGrade.activities[i].gradeList;
                      let j = index
                    "
                  >
                    <input
                      (click)="grader(i, grade, activity.id)"
                      type="radio"
                      class="btn-check"
                      name="options-outlined{{ i }}"
                      id="primary-outlined{{ j }}{{
                        candidateToGrade.activities[i].id
                      }}"
                      autocomplete="off"
                      [checked]="
                        checkIfActivityAttempted(
                          candidateToGrade.activities[i].id,
                          convertFractionToScore(grade)
                        )
                      "
                    />

                    <label
                      class="btn btn-outline-primary"
                      for="primary-outlined{{ j }}{{
                        candidateToGrade.activities[i].id
                      }}"
                      >{{ grade }}</label
                    >
                  </ng-container>
                </div>
              </div>
            </li>
          </ol>
          <!-- <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Save</button>
          </div> -->
        </ngx-simplebar>
      </div>
    </ng-container>
  </div>
</div>

</div>

<ng-template #markingGuide role="document" let-modal>
  <div class="card">
    <div class="text-center mt-1">
      <div class="card-header">
        <h3>Marking Guide</h3>
        <p class="text-muted mb-0">
          This will guide you on how to grade cadidate's in this section
        </p>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-1">
        <ol>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit
            aut numquam repudiandae, nam eligendi sapiente eveniet corrupti
            fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil!
            Est, deleniti quia. <strong> (5marks)</strong>
          </li>
          <br />
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit
            aut numquam repudiandae, nam eligendi sapiente eveniet corrupti
            fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil!
            Est, deleniti quia. <strong> (5marks)</strong>
          </li>
          <br />
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit
            aut numquam repudiandae, nam eligendi sapiente eveniet corrupti
            fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil!
            Est, deleniti quia. <strong> (5marks)</strong>
          </li>
          <br />
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit
            aut numquam repudiandae, nam eligendi sapiente eveniet corrupti
            fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil!
            Est, deleniti quia. <strong> (5marks)</strong>
          </li>
        </ol>
      </div>
      <button (click)="cancel()" class="btn btn-danger float-end">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #confirmationModal let-modal>
  <div class="modal-body p-5">
    <h4 class="mb-4 text-center">Are you sure you want to end this assessment?</h4>
    <div class="row">
      <p class="text-center text-muted">
        You won't be able to revert this!
      </p>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-2">
      <button
        type="button"
        (click)="modal.close('Close click')"
        class="btn btn-primary"
      >
        No, Cancel
      </button>
      <button
        type="button"
        (click)="endExamTimer(false);modal.close('Close click') "
        class="btn btn-danger"
      >
        Yes, End Exam
      </button>
    </div>
  </div>
</ng-template>
