<app-breadcrumbs
  title="DASHBOARD"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<div class="h-100">
    <div class="row mb-3 pb-1">
        <div class="col-12">
            <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                <div class="flex-grow-1">
                    <h4 class="fs-16 mb-1">{{greetMsg}}, Anna!</h4>
                    <p class="text-muted mb-0">Here's what's happening today.</p>
                </div>
               
            </div><!-- end card header -->
        </div>
    </div><!--end row-->

   


</div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-xxl-12 col-lg-6">
                <div class="card card-body">
                    <div class="avatar-sm mb-3">
                        <div class="avatar-title bg-soft-primary text-primary fs-17 rounded">
                            <i class="ri-download-2-line"></i>
                        </div>
                    </div>
                    
                        <h4 class="card-title">Downloaded Exams</h4>
                        <div class="d-flex justify-content-end">
                            <h5> 10</h5>
                        </div>
                   

                   
                </div>
            </div><!-- end col -->

            <div class="col-xxl-6 col-lg-6">
                <div class="card card-body">
                    <div class="avatar-sm mb-3">
                        <div class="avatar-title bg-soft-primary text-primary fs-17 rounded">
                            <i class=" ri-calendar-check-fill"></i>
                        </div>
                    </div>
                    <h4 class="card-title">Exams Taken</h4>
                    <div class="d-flex gap-4 justify-content-end">
                        <p class="text-muted">OSCE:</p> <span class="text-muted">5</span>
                        
                    </div>
                    <div class="d-flex gap-4 justify-content-end">
                        
                        <p class="text-muted">VIVA:</p> <span class="text-muted">5</span>
                    </div>
                    
                    
                </div>
            </div><!-- end col -->

            <div class="col-xxl-6 col-lg-6">
                <div class="card card-body">
                    <div class="avatar-sm mb-3">
                        <div class="avatar-title bg-soft-primary text-primary fs-17 rounded">
                            <i class="ri-upload-cloud-2-line"></i>
                        </div>
                    </div>
                    <h4 class="card-title">Uploaded Exams</h4>
                    <div class="d-flex gap-4  justify-content-end">
                        <p class="text-muted">OSCE:</p> <span class="text-muted">5</span>
                        
                    </div>
                    <div class="d-flex gap-4 justify-content-end">
                        
                        <p class="text-muted">VIVA:</p> <span class="text-muted">5</span>
                    </div>

                </div>
            </div><!-- end col -->
          
        </div><!-- end row -->
    </div><!-- end col -->
  </div><!-- end row -->