.full-height {
    // max-height: fit-content;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.foot-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
   
 }
 
 .attemptedQuestion{
    background: blue;
 }