.full-height {
    // max-height: fit-content;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.foot-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
   
 }
 .timer-animation {
    animation-name: timer-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50px;
    font-size: 10px;
  }
  @keyframes timer-animation {
    to {
      font-size: 15px;
    }
  }