<div
  class="mt-2 m-2 full-height"
  *ngIf="candidateExamDetails != null && currentCandidate != null"
>
  <div class="row">
    <div class="col-4">
      <div class="d-flex">
        <img
          style="max-width: 80px; max-height: 80px"
          [src]="image"
          class="img-fluid rounded-circle d-none d-md-block"
          alt="candidate-img"
        />
        <div class="m-lg-2 m-sm-0">
          <p class="m-0 fw-medium user-name-text">
            {{ currentCandidate.name }}
          </p>
          <p class="m-0 text-muted user-name-sub-text fs-12">
            {{ currentCandidate.examNumber }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="exam-name d-flex justify-content-center">
        <div class="d-flex border rounded-1 bg-primary text-white p-2 btn-md">
          <p class="mb-0 fw-medium user-name-text">
            {{ currentCandidate.programName }} /
            {{ candidateExamDetails.procedureName }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="d-flex gap-2 float-end">
        <div class="timer d-flex gap-2">
          <div classs="rounded-3 text-center">
            <span
              [ngClass]="
                startWarningTimerAnimation()
                  ? [
                      'timer-animation',
                      'text-white',
                      'align-middle',
                      'btn-sm',
                      'bg-danger',
                      'text-white',
                      'text-center',
                      'p-2'
                    ]
                  : [
                      'text-white',
                      'align-middle',
                      'btn-sm',
                      'bg-success',
                      'text-white',
                      'text-center',
                      'p-2'
                    ]
              "
            >
              <i class="ri-timer-line align-middle text-white"></i>

              {{ displayTimerText() }}
            </span>
          </div>
        </div>

        <div class="d-flex float-end">
          <button
            *ngIf="displayEndExamButton()"
            (click)="openEndExamConfirmationDialog(confirmationModal)"
            class="btn btn-outline-danger"
          >
            End exam
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-flex gap-2 mt-3 flex-wrap">
      <ng-container *ngFor="let questionId of questionIDs; let i = index">
        <button
          [style.background-color]="checkIfAttempted(questionId)"
          class="btn btn-light"
          (click)="navigator(i)"
          type="button"
        >
          {{ i + 1 }}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <p class="fw-bold mb-2 mt-2">
      Question {{ this.currentQuestionNumber + 1 }}. &nbsp;&nbsp; Attempted
      {{ attemptedQuestions.length }} of {{ itemsLength }}
    </p>
    <app-standard-choice></app-standard-choice>
  </div>

  <footer
    class="d-flex justify-content-start align-items-center align-content-center card-footer foot-bar"
  >
    <img
      src="/assets/images/multilent-logo.png"
      alt="multilent-logo"
      style="height: 30px"
      class="d-none d-md-block"
    />

    <div class="col d-flex justify-content-end gap-3">
      <button
        class="btn btn-outline-primary btn-sm"
        (click)="previousQuestion()"
        [disabled]="currentQuestionNumber == 0"
      >
        <div
          class="d-flex gap-2 justify-content-center align-content-center align-items-center"
        >
          <i class="ri-arrow-left-s-line"></i>
          Previous Question
        </div>
      </button>

      <button
        class="btn btn-primary btn-sm"
        (click)="nextQuestion()"
        [disabled]="currentQuestionNumber + 1 == itemsLength"
      >
        <div
          class="d-flex gap-2 justify-content-center align-content-center align-items-center"
        >
          Next Question
          <i class="ri-arrow-right-s-line"></i>
        </div>
      </button>
    </div>
  </footer>
</div>

<ng-template #confirmationModal let-modal>
  <div class="modal-body p-5">
    <h4 class="mb-4 text-center">
      Are you sure you want to end this assessment?
    </h4>
    <div class="row">
      <p class="text-center text-muted">You won't be able to revert this!</p>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-2">
      <button
        type="button"
        (click)="modal.close('Close click')"
        class="btn btn-primary"
      >
        No, Cancel
      </button>
      <button
        type="button"
        (click)="endExamTimer(false); modal.close('Close click')"
        class="btn btn-danger"
      >
        Yes, End Exam
      </button>
    </div>
  </div>
</ng-template>
