
<div class="card-body card table-responsive">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-0">PROCEDURE PROGRESS</h6>
      <!-- <button class="btn btn-outline-secondary btn-sm">All Transaction</button> -->
    </div>
   <!-- Captions -->

   <table class="table caption-top table-nowrap">
    <thead class="table-light">
    <tr>
    <th scope="col">Id</th>
    <th scope="col">Programme</th>
    <th scope="col">Started</th>
    <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">1</th>
    <td>Annette Black
        <p class="text-muted m-0">Procedure 3</p>
    </td>
    <td>70</td>
    <td>450</td>
    </tr>
    <tr>
    <th scope="row">2</th>
    <td>Bessie Cooper
        <p class="text-muted m-0">Procedure 8</p>

    </td>
    <td>90</td>
    <td>875</td>
    </tr>
    <tr>
    <th scope="row">3</th>
    <td>Leslie Alexander
        <p class="text-muted m-0">Procedure 3</p>

    </td>
    <td>43</td>
    <td>410</td>
    </tr>
    </tbody>
    <!-- <tfoot class="table-light">
    <tr>
    <td colspan="3">Total</td>
    <td>940</td>
    </tr>
    </tfoot> -->
    </table>

  </div>
  