<div class="card p-2" style="height: 70vh;">
  
    <div class="row">
      <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">
        <p
          class="fw-normal lh-2"
          style="
            /* height:55vh; */
            font-size: 16px;
            overflow-y: auto;
            max-height: 30vh;
          "
        >

        {{ this.currentQuestion.stimulus }}
         <!-- What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non           -->
          <!-- What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
           What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
         
          What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Temporibus saepe repellat a exercitationem, dolore magnam
          accusantium vitae officia perspiciatis vel, aspernatur iste sed, non --> 
          
        </p>
      </div>
  
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body px-0" style="overflow-y: auto; max-height: 30%">
            
            <ng-container *ngFor="let option of this.currentQuestion.options; let i = index">
              <div class="d-flex">
                <span class="mx-2 fw-semibold">
                  {{alphabetList[i].toLowerCase()}} 
                </span>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="radio"  [checked]="this.currentQuestion.answers[0] == option.value" value="{{option.value}}" name="q"  (click)="optionSelected(option.value)" />
                  <span class="form-check-label align-center" for="option" style="cursor: pointer" (click)="optionSelected(option.value)" [innerHTML]="option.label"></span>
                </div>
              </div>
              
              
            </ng-container>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
  <!--  -->
  