<div class="card p-2" style="height: 70vh">
  <div class="row">
    <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">
      <p
        class="fw-normal lh-2"
        style="
          /* height:55vh; */
          font-size: 16px;
          overflow-y: auto;
          max-height: 30vh;
        "
      >
        {{ this.currentQuestion.stimulus }}
        <!-- What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non
                What is a noun? Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Temporibus saepe repellat a exercitationem, dolore magnam
                accusantium vitae officia perspiciatis vel, aspernatur iste sed, non  -->
      </p>
    </div>

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body px-0" style="overflow-y: auto; max-height: 30%">
          <ng-container
            *ngFor="let option of this.currentQuestion.options; let i = index"
          >
         <div class="d-flex">

          <span class="mx-2 fw-semibold">
            {{alphabetList[i].toLowerCase()}} 
          </span>
           
          <div class="form-check form-check-info mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="formCheck11"
              [checked]="
                this.currentQuestion.answers.includes(this.option.value)
              "
              (change)="optionSelected(option.value, $event)"
              name="q"
            />
            <span
              class="form-check-label align-bottom"
              style="cursor: pointer"
              for="formCheck11"
              [innerHTML]="option.label"
              (click)="optionClicked(option.value)"
            >
            </span>
          </div>
         </div>
          
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
