<!-- <div class="card"  style="width: fit-content;"> -->
    <div class=" card card-body table-responsive">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="mb-0">PROCEDURE TABLE</h6>
          <!-- <button class="btn btn-outline-secondary btn-sm">All Transaction</button> -->
        </div>
        <!-- Captions -->
<table class="table caption-top table-nowrap">
    <thead class="table-light">
    <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Exam no.</th>
    <th scope="col">Institution</th>
    <th scope="col">Station</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">1</th>
    <td>Annette Black</td>
    <td>349N934</td>
    <td>NMCN</td>
    <td>5</td>
    </tr>
    <tr>
    <th scope="row">2</th>
    <td>Annette Black</td>
    <td>349N934</td>
    <td>NMCN</td>

    <td>5</td>
    </tr>
    <tr>
    <th scope="row">3</th>
    <td>Annette Black</td>
    <td>349N934</td>
    <td>NMCN</td>

    <td>5</td>
    </tr>
    </tbody>
    
    </table>
      </div>
    <!-- </div> -->
    
    