<app-breadcrumbs
  title="MONITOR VIVA"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<ng-container *ngIf="vivaMonitor != null">
    <div class="row">
        <div class="col-12">
          <div class="row">
            
            <div
              class="col-xl-4 col-md-6"
              *ngFor="let viva of vivaMonitor.progressGraph; let i = index"
            >
              <div class="card card-animate">
                <div class="card-body">
                  <h6 class="text-uppercase">{{ viva.programName }}</h6>
                  <div class="d-flex align-items-center">
                    <!-- <div class="flex-grow-1">
                      <p class="text-muted fw-medium mb-0 fw-medium">
                        VIVA name goes here
                      </p>
                    </div> -->
                  </div>
                  <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                      <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-1">
                          {{ viva.candidateCompletedCount }}/<span
                            class="counter-value"
                          ></span>
                          {{ viva.candidateCount }}
                        </h4>
      
                        <p class="text-muted">Completed</p>
      
                        <div class="">
                          <h5 class="text-success fs-14 mb-0">
                            <i class="align-middle fs-13 ri-arrow-right-up-line"></i>
                             {{(( viva.candidateCompletedCount / viva.candidateCount ) * 100).toFixed(2)}}%
                          </h5>
                        </div>
                      </div>
                    </div>

                    <div class="avatar-sm flex-shrink-0">
                      <span class="avatar-title bg-soft-primary rounded fs-3">
                        <i class="align-middle fs-18 mdi me-2 text-info"> {{i + 1}}</i>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- end card body -->
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end col -->
      </div>



      <div class="card">
        <div class="card-body">
          <h6 class="mb-3">{{vivaMonitor.candidateList.length}} candidates assigned to this exam</h6>
          <!-- <div class="d-flex justify-content-end">
            
      
            <select #dropDownRef (change)="captureProgram(dropDownRef.value)" class="form-select mb-3 w-25">
              <option disabled selected>Filter by program</option>
              <option *ngFor="let program of programs" value="{{program.id}}">{{program.name}}</option>
            </select>
          </div> -->
          <div class="table-responsive">
            <!-- <table class="table table-gridjs">
              <thead>
                <tr>
                  <th class="sort" data-sort="name">Name</th>
                  <th class="sort" data-sort="exam-no">Exam NO.</th>
                  <th class="sort" data-sort="program">Program</th>
                  <th class="sort" data-sort="examiner">Examiner</th>
                  <th class="sort" data-sort="institution">Institution</th>
                  <th class="sort" data-sort="status">Status</th>
                </tr>
              </thead>
              <tbody *ngFor="let candidate of vivaMonitor.candidateList">
                <tr>
                  <td>{{ candidate.name }}</td>
                  <td>{{ candidate.examNumber }}</td>
                  <td>{{ candidate.programName }}</td>
                  <td>{{ candidate.examinerName }}</td>
                  <td>{{ candidate.institution }}</td>
                  <td>
                    <span
                      class="badge badge-soft-success"
                      *ngIf="candidate.stamp != null"
                    >
                      Completed</span
                    >
                    <span
                      class="badge badge-soft-danger"
                      *ngIf="candidate.stamp == null"
                    >
                      Pending</span
                    >
                  </td>
                </tr>
              </tbody>
            </table> -->
          
          

    
          

          <p-table
          [value]="vivaMonitor.candidateList"
          [tableStyle]="{ 'min-width': '100%' }"
          #dt1
          dataKey="id"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                <div class="flex justify-content-between align-items-center">
                  NAME
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="name"
                    display="menu"
                    class="ml-auto"
                  ></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="examNumber">
                <div class="flex justify-content-between align-items-center">
                  EXAM NO.
                  <p-sortIcon field="examNumber"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="examNumber"
                    display="menu"
                    class="ml-auto"
                  ></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="programName">
                <div class="flex justify-content-between align-items-center">
                  PROGRAM
                  <p-sortIcon field="programName"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="programName"
                    display="menu"
                    class="ml-auto"
                  ></p-columnFilter>
                </div>
              </th>

              <th pSortableColumn="institution">
                <div class="flex justify-content-between align-items-center">
                  INSTITUTION
                  <p-sortIcon field="institution"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="institution"
                    display="menu"
                    class="ml-auto"
                  ></p-columnFilter>
                </div>
              </th>
              <th pSortableColumn="examinerName">
                <div class="flex justify-content-between align-items-center">
                  EXAMINER
                  <p-sortIcon field="examinerName"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="examinerName"
                    display="menu"
                    class="ml-auto"
                  ></p-columnFilter>
                </div>
              </th>

              <th pSortableColumn="stamp">
                <div class="flex justify-content-between align-items-center">
                  DATE
                  <p-sortIcon field="stamp"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="stamp"
                    display="menu"
                    class="ml-auto"
                  ></p-columnFilter>
                </div>
              </th>

              

              <th pSortableColumn="status">
                <div class="flex justify-content-between align-items-center">
                  STATUS
                  <p-sortIcon field="status"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="status"
                    display="menu"
                    class="ml-auto"
                  ></p-columnFilter>
                </div>
              </th>
              
            </tr>
          </ng-template>
          >
          <ng-template pTemplate="body" let-candidate>
            <tr>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.examNumber }}</td>
                <td>{{ candidate.programName }}</td>
                <td>{{ candidate.institution }}</td>
                <td>{{ candidate.examinerName }}</td>
                <td>{{ candidate.stamp | date : "dd/MM/yyyy hh:mm a" }}</td>
    
             
                <!-- <td>{{ candidate.score }}</td> -->
               
                <td>
                  <span
                    class="badge badge-soft-success"
                    *ngIf="candidate.status == candidateStatus.COMPLETED"
                  >
                    Completed</span
                  >
                  <span
                    class="badge badge-soft-danger"
                    *ngIf="candidate.status == candidateStatus.PENDING"
                  >
                    Pending</span
                  >
                </td>
            </tr>
          </ng-template>
        </p-table>
          
          </div>
        </div>
      </div>
</ng-container>


<!-- end row -->


