<app-breadcrumbs
  title="DOWNLOAD EXAM"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>


<button class="btn btn-primary">Download OSCE & VIVA </button>
  <div class="border-bottom my-3"></div>




<div class="row">
  <div class="col-4">
    <div class="sticky-side-div">
        <div class="card">
            <div class="card-header border-bottom-dashed">
                <h5 class="card-title mb-0">POST BASIC EXAM </h5>
            </div>
            <div class="mb-3">
                <div class="card-body">
                    
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="fw-medium">Total Examiner(s)</td>
                                    <td>56</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Total Candidate(s)</td>
                                    <td>3000</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">Total Program(s)</td>
                                    <td>25</td>
                                </tr>
                                <!-- <tr>
                                    <td class="fw-medium">OSCE Date</td>
                                    <td><span class="badge badge-soft-primary">2023-01-12</span></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">VIVA Date</td>
                                    <td><span class="badge badge-soft-success">2023-01-12</span></td>
                                </tr> -->
                                <tr>
                                    <td class="fw-medium">VIVA Date</td>
                                    <td>05 Jan, 2022</td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">OSCE Date</td>
                                    <td>05 Jan, 2022</td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
  


        <!-- <div class="card col-8">
            <div class="card-body">
              <h6 class="mb-3">Program Details</h6>
              <div class="d-flex justify-content-between">
          
              
              <div class="search-box d-inline-block mb-2">
                <input type="text" class="form-control search" placeholder="Search..." />
                <i class="ri-search-line search-icon"></i>
              </div>
          
              <select class="form-select  mb-3 w-25">
                  <option disabled selected>Filter by program</option>
                  <option value="1">BASIC NURSING</option>
                  <option value="2">ORTHOLOGY</option>
                  <option value="3">NURSING MATHS</option>
                  </select>
              </div>
              <div class="table-responsive">
                <table class="table table-gridjs">
                  <thead>
                    <tr>
                      <th class="sort" data-sort="name">Program name</th>
                      <th class="sort" data-sort="email">Total Examiner(s)</th>
                      <th class="sort" data-sort="position">Total Candidate(s)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items">
                      <td>BASIC NURSING</td>
                      <td>20</td>
                      <td>200</td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->

          
          <div class="col-xl-8">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Program Details</h4>
                    <!-- <div class="flex-shrink-0">
                        <button type="button" class="btn btn-soft-info btn-sm">
                            <i class="ri-file-list-3-line align-middle"></i> Generate Report
                        </button>
                    </div> -->
                </div><!-- end card header -->

                
                    <div class="table-responsive card-body">
                        <table class="table table-gridjs">
                            <thead>
                              <tr>
                                <th class="sort" data-sort="name">Program name</th>
                                <th class="sort" data-sort="email">Total Examiner(s)</th>
                                <th class="sort" data-sort="position">Total Candidate(s)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of items">
                                <td>BASIC NURSING</td>
                                <td>20</td>
                                <td>200</td>
                                
                              </tr>
                            </tbody>
                          </table>
                    </div>
                
            </div> <!-- .card-->
        </div> <!-- .col-->
</div>



