<app-breadcrumbs
  title="DOWNLOAD EXAM"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>


<button class="btn btn-primary">Download OSCE & VIVA </button>
  <div class="border-bottom my-3"></div>




<div class="row">

        <div class="col-xl-4">  
            <div class="sticky-side-div">
                <div class="card" style="height: 35vh;" >
                    <div class="card-header border-bottom-dashed">
                        <h5 class="card-title mb-0">PRE BASIC EXAM </h5>
                    </div>
                    <div class="mb-3">
                        <div class="card-body">
                            
                            <div class="table-card" style="height: 30vh;">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="fw-medium">Total Examiner(s)</td>
                                            <td>56</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium">Total Candidate(s)</td>
                                            <td>3000</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium">Total Program(s)</td>
                                            <td>25</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="fw-medium">VIVA Date</td>
                                            <td>05 Jan, 2022</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium">OSCE Date</td>
                                            <td>05 Jan, 2022</td>
                                        </tr>
      
                                        
                                    </tbody>
                                </table><!--end table-->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                  <div class="col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0 mx-0">PRE BASIC EXAM PROGRAM DETAILS</h4>
                        </div><!-- end card header -->
        
                        
                          <ngx-simplebar>
                            <div class="table-responsive card-body" style="height: 29vh;">
                                <table class="table table-gridjs">
                                    <thead>
                                      <tr>
                                        <th class="sort" data-sort="name">Program name</th>
                                        <th class="sort" data-sort="email">Total Examiner(s)</th>
                                        <th class="sort" data-sort="position">Total Candidate(s)</th>
                                      </tr>
                                    </thead>
                                    <tbody *ngFor="let item of items">
                                      <tr>
                                        <td>BASIC NURSING</td>
                                        <td>20</td>
                                        <td>200</td>
                                        
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </ngx-simplebar>
                    </div> <!-- .card-->
                </div>


                <div class="col-xl-4">  
                    <div class="sticky-side-div">
                        <div class="card" style="height: 35vh;">
                            <div class="card-header border-bottom-dashed">
                                <h5 class="card-title mb-0">PRE BASIC EXAM </h5>
                            </div>
                            <div class="mb-3">
                                <div class="card-body">
                                    
                                    <div class="table-card" style="height: 30vh;">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr>
                                                    <td class="fw-medium">Total Examiner(s)</td>
                                                    <td>56</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-medium">Total Candidate(s)</td>
                                                    <td>3000</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-medium">Total Program(s)</td>
                                                    <td>25</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td class="fw-medium">VIVA Date</td>
                                                    <td>05 Jan, 2022</td>
                                                </tr>
                                                <tr>
                                                    <td class="fw-medium">OSCE Date</td>
                                                    <td>05 Jan, 2022</td>
                                                </tr>
              
                                                
                                            </tbody>
                                        </table><!--end table-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                          <div class="col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0 mx-0">PRE BASIC EXAM PROGRAM DETAILS</h4>
                                </div><!-- end card header -->
                
                                
                                  <ngx-simplebar>
                                    <div class="table-responsive card-body" style="height: 29vh;">
                                        <table class="table table-gridjs">
                                            <thead>
                                              <tr>
                                                <th class="sort" data-sort="name">Program name</th>
                                                <th class="sort" data-sort="email">Total Examiner(s)</th>
                                                <th class="sort" data-sort="position">Total Candidate(s)</th>
                                              </tr>
                                            </thead>
                                            <tbody *ngFor="let item of items">
                                              <tr>
                                                <td>BASIC NURSING</td>
                                                <td>20</td>
                                                <td>200</td>
                                                
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </ngx-simplebar>
                            </div> <!-- .card-->
                        </div>
                
</div>



