<div *ngIf="userDetail">
  <div class="position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
      <!-- <img src="assets/images/profile-bg.jpg" class="profile-wid-img" alt="" /> -->
      <div class="overlay-content">
        <div class="text-end p-3">
          <!-- <div class="p-0 ms-auto rounded-circle profile-photo-edit">
          <input
            id="profile-foreground-img-file-input"
            type="file"
            class="profile-foreground-img-file-input"
          />
          <label
            for="profile-foreground-img-file-input"
            class="profile-photo-edit btn btn-light"
          >
            <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
          </label>
        </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xxl-3">
      <div class="card mt-n5">
        <div class="card-body p-4">
          <div class="text-center">
            <div
              class="profile-user position-relative d-inline-block mx-auto mb-4"
            >
              <img
                src="assets/images/users/avatar-1.jpg"
                class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                alt="user-profile-image"
              />
              <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                <input
                  id="profile-img-file-input"
                  type="file"
                  class="profile-img-file-input"
                />
                <label
                  for="profile-img-file-input"
                  class="profile-photo-edit avatar-xs"
                >
                  <span class="avatar-title rounded-circle bg-light text-body">
                    <i class="ri-camera-fill"></i>
                  </span>
                </label>
              </div>
            </div>
            <h5 class="fs-16 mb-1 text-capitalize">
              {{ userDetail.username }}
            </h5>
            <p class="text-muted mb-0">
              {{ userDetail.userRolesDTOList[0].role }}
            </p>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-9">
      <div class="card mt-xxl-n5">
        <div class="card-header">
          <ul
            ngbNav
            #customNav="ngbNav"
            [activeId]="1"
            class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
            role="tablist"
          >
            <li [ngbNavItem]="1" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="fas fa-home"></i>
                Personal Details
              </a>
              <ng-template ngbNavContent>
                <form
                  #updateUserDetailForm="ngForm"
                  (ngSubmit)="updateUserDetails(updateUserDetailForm)"
                  novalidate
                >
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="firstName" class="form-label"
                          >First Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="firstnameInput"
                          name="firstName"
                          placeholder="Enter your firstname"
                          value="{{ userDetail.firstName }}"
                          [(ngModel)]="userDetail.firstName"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="lastName" class="form-label"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="lastnameInput"
                          name="lastName"
                          placeholder="Enter your lastname"
                          value="{{ userDetail.lastName }}"
                          [(ngModel)]="userDetail.lastName"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="phone" class="form-label"
                          >Phone Number</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="phone"
                          id="phone"
                          placeholder="Enter your phone number"
                          value="{{ userDetail.phone }}"
                          [(ngModel)]="userDetail.phone"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="email" class="form-label"
                          >Email Address</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          name="email"
                          placeholder="Enter your email"
                          value="{{ userDetail.email }}"
                          [(ngModel)]="userDetail.email"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select
                          name="role"
                          id="role"
                          class="form-control"
                          [(ngModel)]="userDetail.userRolesDTOList[0].role"
                        >
                          <option
                            *ngFor="let role of roles$ | async"
                            value="{{ role.role }}"
                            [selected]="
                              role.role === userDetail.userRolesDTOList[0].role
                            "
                          >
                            {{ role.role }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-12">
                      <div class="hstack gap-2 justify-content-end">
                        <button type="submit" class="btn btn-primary">
                          Update
                        </button>
                        <button
                          type="button"
                          (click)="cancel()"
                          class="btn btn-soft-success"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </form>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-user"></i>
                Change Password
              </a>
              <ng-template ngbNavContent>
                <form
                  #changePasswordForm="ngForm"
                  (ngSubmit)="changeUserPassword()"
                >
                  <div class="row g-2">
                    <div class="col-lg-4">
                      <div>
                        <label for="oldPassword" class="form-label"
                          >Old Password*</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="oldpasswordInput"
                          name="oldPassword"
                          placeholder="Enter current password"
                          [(ngModel)]="newPassword.oldPassword"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div>
                        <label for="newPassword" class="form-label"
                          >New Password*</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="newpasswordInput"
                          name="newPassword"
                          placeholder="Enter new password"
                          [(ngModel)]="newPassword.newPassword"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div>
                        <label for="confirmPassword" class="form-label"
                          >Confirm Password*</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="confirmpasswordInput"
                          name="confirmPassword"
                          placeholder="Confirm password"
                          [(ngModel)]="confirmation"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="text-end">
                        <button
                          type="submit"
                          (click)="changeUserPassword()"
                          class="btn btn-success"
                        >
                          Change Password
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="nav-item">
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                <i class="far fa-envelope"></i>
                Tags
              </a>
              <ng-template ngbNavContent>
                <form
                  #assignNewTagToUserForm="ngForm"
                  (ngSubmit)="assignNewTagToUser()"
                  novalidate
                >
                  <div id="newlink">
                    <div id="1">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="mb-3">
                            <label
                              for="choices-multiple-default"
                              class="form-label"
                              >Add Tags
                            </label>
                            <ng-select
                              [items]="_tags$ | async"
                              [multiple]="true"
                              [minTermLength]="minLengthTerm"
                              [trackByFn]="trackByFn"
                              bindLabel="tagName"
                              name="tag"
                              (search)="showSelect($event)"
                              [loading]="tagsLoading"
                              typeToSearchText="Enter tag name to search"
                              [typeahead]="tagsSearchInput$"
                              [(ngModel)]="selectedTags"
                            >
                              <ng-template ng-optgroup-tmp let-item="item">
                                {{ item[0].tagName | uppercase }}
                              </ng-template>
                            </ng-select>
                          </div>
                        </div>
                        <!--end col-->
                      </div>
                      <!--end row-->
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="hstack gap-2">
                      <button type="submit" class="btn btn-success">
                        Edit Tags
                      </button>
                    </div>
                  </div>
                  <!--end col-->
                </form>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="card-body p-4">
          <div class="tab-content">
            <div [ngbNavOutlet]="customNav"></div>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
