<app-breadcrumbs
  title="DASHBOARD"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="row" >
    <!-- <div class="col-md-6">
        <app-monitor-expectant-care></app-monitor-expectant-care>

    </div> -->
    <div class="col-md-12">
        <app-monitor-viva></app-monitor-viva>
    </div>
    <div class="col-md-12">
        <app-monitor-procedure></app-monitor-procedure>
    </div>
    <!-- <div class="col-md-6">
        <app-monitor-research></app-monitor-research>
    </div> -->
    <div class="col-md-12">
        <app-monitor-objective-station></app-monitor-objective-station>
    </div>

    <div class="col-md-12">
        <app-monitor-procedure-table></app-monitor-procedure-table>
    </div>
</div>



