<div class="card p-2">
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">
            <p
                    class="fw-normal lh-2"
                    style="
          /* height:55vh; */
          font-size: 16px;
          overflow-y: auto;
          max-height: 30vh;
        "
            >
                Match the following
            </p>
        </div>

  <div class="row">
    <div class="col-xl-5 col-md-5">
      <div
        #listOne="cdkDropList"
        cdkDropList
        (cdkDropListDropped)="onDrop($event)"
        class="list-group"
        
      >
        <div
          *ngFor="let option of options"
          [innerHTML]="option.label"
          class="list-group-item mt-2"
        >
          {{ option.label }} }}
        </div>
      </div>
    </div>

    <!-- this is the line separator -->
    <div class="col-xl-2 col-md-2 my-auto px-2">
      <ng-container *ngFor="let stimulus of stimulusList">
        <div
          class="d-flex align-items-center justify-content-between mb-2"
          style="height: 46px"
        >
          <div
            style="
              width: 200px;
              height: 5px;
              background-color: #000;
              border-radius: 10px;
            "
          ></div>
        </div>
      </ng-container>
    </div>
    

    <div class="col-xl-5 col-md-5">
      <div
        #listTwo="cdkDropList"
        class="list-group list-group"
        cdkDropList
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          class="move list-group-item mb-2 move-cursor"
          *ngFor="let stimulus of stimulusList"
          [innerHTML]="stimulus"
          [cdkDragData]="stimulus"
          cdkDrag
        >
          {{ stimulus }}
        </div>
      </div>
    </div>
  </div>