<app-breadcrumbs
  title="START EXAMS"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="row">
  <div class="col-12">

    <!-- <div class="rounded-1 alert alert-danger" *ngIf="!isVivaAvailable && !isOsceAvailable">
      <span><strong> NO VIVA AND OSCE AVAILABLE TO START</strong> </span>
    </div> -->

    <div class="rounded-1 alert alert-danger" *ngIf="showVivaError">
      <span><strong> {{vivaErrorMessage}}</strong> </span>
    </div>
    <div class="rounded-1 alert alert-danger" *ngIf="showOsceError">
      <span><strong> {{osceErrorMessage}}</strong> </span>
    </div>

    <div class="row">
      <!-- <div class="col-xxl-4 col-lg-4">
        <div class="card card-body">
          <div class="d-flex">
            <div class="avatar-sm mb-3">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded "
              >
                EX
              </div>
            </div>
            <div class="align-bottom col-10 mx-2">
              <h6>Expectant care</h6>
              <p class="text-muted">Session 2</p>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-primary">Start exam</button>
          </div>
        </div>
      </div> -->
      <!-- end col -->
      <div class="col-xxl-6 col-lg-6" *ngIf="isOsceAvailable" >
        <div class="card card-body">
          <div class="d-flex">
            <div class="avatar-sm mb-3">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                OS
              </div>
            </div>
            <div class="align-bottom col-10 mx-2">
              <h6>OSCE</h6>
              <p class="text-muted">{{osceData.examName}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-end" *ngIf="showStartOsceErrorMessage">
            <p><span>{{startOsceErrorMessage}}</span></p>
          </div>
          <span *ngIf="isOsceOn">OSCE exam Started successfully</span>
          <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-primary" (click)="startOsceExam(osceData.id)">Start OSCE</button>
          </div>
        </div>
      </div>
      <!-- end col -->
      <div class="col-xxl-6 col-lg-6" *ngIf="isVivaAvailable">
        <div class="card card-body">
          <div class="d-flex">
            <div class="avatar-sm mb-3">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                VI
              </div>
            </div>
            <div class="align-bottom col-10 mx-2">
              <h6>VIVA</h6>
              <p class="text-muted">{{vivaData.examName}}</p>
            </div>
          </div>

          <div class="d-flex justify-content-end" *ngIf="showStartVivaErrorMessage">
            <p><span>{{startVivaErrorMessage}}</span></p>
          </div>
          <span *ngIf="isVivaOn">VIVA exam Started successfully</span>
          <div class="d-flex justify-content-end">
            
        
            <button class="btn btn-sm btn-primary" [disabled]="isVivaOn" (click)="startVivaExam(vivaData.id)">Start VIVA</button>
          </div>
        </div>
      </div>

      <!-- <div class="col-xxl-4 col-lg-4">
        <div class="card card-body">
          <div class="d-flex">
            <div class="avatar-sm mb-3">
              <div
                class="avatar-title bg-soft-primary text-primary fs-17 rounded"
              >
                RE
              </div>
            </div>
            <div class="align-bottom col-10 mx-2">
              <h6>Research</h6>
              <p class="text-muted">Session 1</p>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-primary">Start exam</button>
          </div>
        </div>
      </div> -->
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->


