<app-breadcrumbs
  title="CANDIDATE INSTRUCTION"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<h6 class="no-print">Select procedure to view instruction</h6>

<ng-select
  class="no-print"
  [items]="procedures"
  bindLabel="name"
  placeholder="Select procedure"
  (change)="captureProcedure($event)"
>
</ng-select>

<div
  class="card"
  *ngIf="
    candidateInstruction != null && candidateInstruction.instruction != null
  "
>
  <div class="card-body" style="height: 60vh">
    <h5 class="card-header">Candidate Instruction For {{ capturedName }}</h5>
    <span class="mt-5 fs-23" [innerHTML]="candidateInstruction.instruction">
    </span>
  </div>

  <button
    class="btn btn-sm btn-primary no-print"
    (click)="printCandidateInstruction()"
  >
    Print Candidate Instruction
  </button>
</div>
