<app-breadcrumbs
  title="MONITOR EXAM"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class=" card ">

    <!-- <h4 class="fw-bolder mb-0 p-3">Exam monitor</h4> -->
  
    <div class="row mt-3 p-4">
        <div class="col-md-6" *ngFor="let exam of examsToMonitor">
            <div class="card">
                <div class="card-body" (click)="monitor(exam.name)">
                    <div class="avatar-sm mb-3 float-end">
                        <div class="avatar-title bg-soft-primary text-primary fs-17 rounded">
                            <i class="ri-computer-line"></i>
                        </div>
                    </div>
                    <!-- <a routerLink="/manager/monitor-exams/{{exam.name.toLowerCase()}}"></a>  -->
                    <h6 class="fw-bolder">Monitor {{exam.name}} </h6>
                </div>
            </div>  
    </div>
