<app-breadcrumbs
  title="DOWNLOADED EXAMS > DETAILS"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="card">
    <div class="card-body">
   
      <div class="d-flex justify-content-between">
  
        <h6 class="mb-3 text-uppercase">Examiners in {{programName}} </h6>
      

     
        <button class="btn btn-sm btn-primary mb-2" (click)="goBack()">Back</button>
      
  
      </div>
      <div class="table table-gridjs table-responsive">
        
        <p-table
        [value]="examiners"
        [tableStyle]="{ 'min-width': '100%' }"
        #dt1
        dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              <div class="flex justify-content-between align-items-center">
                NAME
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="name"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="username">
              <div class="flex justify-content-between align-items-center">
                USERNAME
                <p-sortIcon field="username"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="username"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="email">
              <div class="flex justify-content-between align-items-center">
                EMAIL
                <p-sortIcon field="email"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="email"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
      
            <th pSortableColumn="phone">
              <div class="flex justify-content-between align-items-center">
                PHONE NUMBER
                <p-sortIcon field="phone"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="phone"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="programName">
              <div class="flex justify-content-between align-items-center">
                PROGRAM
                <p-sortIcon field="{{programName}}"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="{{programName}}"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
      
            <th pSortableColumn="procedureName">
              <div class="flex justify-content-between align-items-center">
                PROCEDURE
                <p-sortIcon field="procedureName"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="procedureName"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
      
            <th pSortableColumn="leader">
              <div class="flex justify-content-between align-items-center">
                ROLE
                <p-sortIcon field="leader"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="leader"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
      
            <th pSortableColumn="active">
              <div class="flex justify-content-between align-items-center">
                STATUS
                <p-sortIcon field="active"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="active"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
      
            <th>
              <div class="flex justify-content-between align-items-center">
                ACTIONS
                <!-- <p-sortIcon field="status"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="status"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter> -->
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                PASSWORD
                <!-- <p-sortIcon field="status"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="status"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter> -->
              </div>
            </th>
            
          </tr>
        </ng-template>
        >
        <ng-template pTemplate="body" let-examiner>
          <tr>
              <td>{{ examiner.name }}</td>
              <td>{{ examiner.username }}</td>
              <td>{{ examiner.email }}</td>
              <td>{{ examiner.phone }}</td>
              <td>{{ programName }}</td>
              <td>{{ examiner.procedureName }}</td>
              
              <td>
                <span class="badge badge-soft-primary" *ngIf="examiner.leader"> Leader</span> <span class="badge badge-soft-warning" *ngIf="!examiner.leader">Non Leader</span>
                
              </td>
      
              
              <td>
      
                  
      
                <div  (change)="getValue( $event, examiner.id)"class="form-check form-switch form-switch-md mx-2" dir="ltr">
                  <input   #inputRef value="{{examiner.active}}" type="checkbox" class="form-check-input" id="customSwitchsizelg" [checked]='examiner.active'>
                  </div>
              </td>
              <td><button class="btn btn-sm btn-primary" (click)="openAddProcedureModal(addProcedureModal)"> <span *ngIf="examiner.procedureId == null"> Add procedure</span>  <span *ngIf="examiner.procedureId != null"> Edit Procedure</span></button></td>
              <td>{{ examiner.password }}</td>
              
              <ng-template #addProcedureModal role="document" let-modal>
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Add Procedure</h5>
                  <button
                    type="button"
                    class="btn-close"
                    center-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  ></button>
                </div>
                <div class="modal-body">
                  
                    <div class="row">
                      
                      <div class="col-lg-12">
                        <div class="mb-3">
                          <label for="designation" class="form-label"
                            >Select Procedure</label
                          >
                          <select class="form-select  mb-3" aria-label="Default select example"
                          #dropBoxRef
                          (change)="captureProcedureToAddToExaminer(examiner.id,  dropBoxRef.value)">
                            <option disabled selected>Select Procedure</option>
                            <option *ngFor="let procedure of procedures; let i=index" value={{procedure.id}}>
                              {{procedure.name}}
                            </option>
                            
                            </select>
                        </div>
                      </div>
                   
                      
                      
                      <div class="col-lg-12">
                        <div class="hstack gap-2 justify-content-end">
                          <button
                            type="button"
                            class="btn btn-light"
                            center-bs-dismiss="modal"
                            
                          >
                            Close
                          </button>
                          
                          <button  class="btn btn-success"
      
                          (click)="addProcedureToExaminer()">
                            Add Procedure
                          </button>
                        </div>
                      </div>
                    </div>
                
                </div>
              </ng-template>
          </tr>
        </ng-template>
      </p-table>


      </div>
    </div>
  </div>

  
  
