<app-breadcrumbs
  title="MARK VIVA > BASIC NURSING"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="d-flex justify-content-between gap-4">
         
    <div class="mb-4">
        <h6 class="text-muted">Enter exam number of candidate to grade</h6>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter exam number">
            <button (click)="openGrader(grader)"class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
            </div>
    </div>
    

<div>
        <button (click)="openMarkingGuide(markingGuide)" class="btn btn-sm btn-soft-primary">View marking guide</button>
</div>
</div>
<div class="card">

    
    <div class="card-body">
       
       
        
        <div class="d-flex justify-content-between">
            <h6 class="mb-3">All graded candidate(s)</h6>
            <h6 class="mb-3">Completed (0 of 20)</h6>
             
        </div>
    
    <div class="d-flex justify-content-between">
  
      
        <div class="search-box d-inline-block mb-2">
          <input type="text" class="form-control search" placeholder="Enter exam number..." />
          <i class="ri-search-line search-icon"></i>
        </div>
    
        <select class="form-select  mb-3 w-25" aria-label="Default select example">
            <option disabled selected>Filter by program</option>
            <option value="1">BASIC NURSING</option>
            <option value="2">ORTHOLOGY</option>
            <option value="3">NURSING MATHS</option>
            </select>
        </div>
    <div class="table-responsive">
      <table class="table table-gridjs">
        <thead>
        <tr>
        <th class="sort" >Name</th>
        <th class="sort">EXAM NO.</th>
        <th class="sort">PROGRAM</th>
        <th class="sort">INSTITUTION</th>
        
        <th class="sort" >EXAMINER</th>
        <th class="sort" >DATE</th>
        <th class="sort" >TIME</th>
        <th class="sort" >SCORE</th>
        <th class="sort">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Noah Edet</td>
          <td>17CD00GH</td>
          <td>NMCM PROGRAM</td>
          <td>BSNC</td>
          <td>JOSEPH ESSIEN</td>
          <td>29th may, 2023</td>

          <td>6:00</td>
          <td>37</td>
          <td> <button class="btn btn-sm btn-success"> Completed</button></td>
         </tr> 
        </tbody>
      </table>
    </div>
  </div>


  
        <ng-template #markingGuide role="document" let-modal>
          <div class="card ">
            <div class="text-center mt-1">
                <div class="card-header">
                    <h3>Marking Guide</h3>
                    <p class="text-muted mb-0">This will guide you on how to grade cadidate's in this section</p>
                </div>
            
            </div>
            <div class="card-body">
                <div class="mb-1">
                    <ol>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit aut numquam
                            repudiandae, nam eligendi sapiente eveniet
                            corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil! Est, deleniti
                            quia. <strong> (5marks)</strong>
                        </li> <br>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit aut numquam
                            repudiandae, nam eligendi sapiente eveniet
                            corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil! Est, deleniti
                            quia. <strong> (5marks)</strong>
                        </li> <br>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit aut numquam
                            repudiandae, nam eligendi sapiente eveniet
                            corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil! Est, deleniti
                            quia. <strong> (5marks)</strong>
                        </li>  <br>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit aut numquam
                            repudiandae, nam eligendi sapiente eveniet
                            corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate animi nihil! Est, deleniti
                            quia. <strong> (5marks)</strong>
                        </li>
                    </ol>
    
                    
                </div>
                <button class="btn  btn-danger float-end" (click)="cancel()">
                    Close
                </button>
    
            </div>
    
        </div>
        </ng-template>

        <ng-template #grader>
            <div class="card ">
                <div class="d-flex justify-content-end">
                    <i class="btn btn-close p-3" (click)="cancel()"></i>
                </div>
                
                <div class="text-center mt-1 card-header">
                    <h3>Candidate Grading</h3>
                    <p class="text-muted mb-0"> You are about to grade Candidate with the following details below</p>
                   
                </div>
               
                <div class="mt-4 card-body">
                    <div class="mb-3">
                       
                        <div class="text-center">
                            <img class="img-thumbnail" src="assets/images/users/avatar-7.jpg" alt="candidate Passport"> 
                        </div> <br>

                       <div class="text-start">
                        <p> <strong> Candidate Name:</strong> Noah Edet</p>
                        <p> <strong> Exam Number:</strong>  17CD005322</p>  
                        <p> <strong> Program:</strong>  NMCM PROGRAM</p>  
                        <p> <strong> Institution:</strong>  MSSP</p> 
                       </div>

                                       
                            <label for="exampleFormControlInput1" ><strong> Candidate Grade:</strong>  {{grade.value}} </label>
                            <div class="input-group mb-3 mt-3">
                                <input type="text" class="form-control" #grade placeholder="Input Candidate Grade" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="button" id="button-addon2">Grade</button>
                            </div>
                           
                    </div>
        
                </div>
        
            </div>
        </ng-template>
        