<app-breadcrumbs
  title="MARK VIVA > {{ currentExaminerData.programName }}"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<ng-container *ngIf="currentExaminerData != null">
    <div class="d-flex justify-content-between gap-4">
        <div class="mb-4">
          <h6 class="text-muted">Enter exam number of candidate to grade</h6>
          <div class="input-group">
            <input
              #examNumberRef
              type="text"
              class="form-control"
              placeholder="Enter exam number"
              required
            />
            <button
              
              (click)="
                getCandidateForGrading(
                  examNumberRef.value,
                  currentExaminerData.programId,
                  grader
                )
              "
              class="btn btn-outline-primary"
              type="button"
              id="button-addon2"
            >
              Search
            </button>
          </div>
        </div>
      
        <div>
          <button
            (click)="openMarkingGuide(markingGuide)"
            class="btn btn-sm btn-soft-primary"
          >
            View marking guide
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="mb-3">All candidate(s)</h6>
            <h6 class="mb-3">
              Completed ({{successfullyGraded.length}} of {{ gradedCandidatesByProgram.length }})
            </h6>
          </div>
      
          <div class="d-flex justify-content-between">
            <div class="search-box d-inline-block mb-2">
              <input
                type="text"
                class="form-control search"
                placeholder="Enter exam number..."
              />
              <i class="ri-search-line search-icon"></i>
            </div>
      
            <select class="form-select mb-3 w-25" aria-label="Default select example">
              <option disabled selected>Filter by program</option>
              <option value="1">BASIC NURSING</option>
              <option value="2">ORTHOLOGY</option>
              <option value="3">NURSING MATHS</option>
            </select>
          </div>
          <div class="table-responsive">
            <table class="table table-gridjs">
              <thead>
                <tr>
                  <th class="sort">Name</th>
                  <th class="sort">EXAM NO.</th>
                  <th class="sort">PROGRAM</th>
                  <th class="sort">INSTITUTION</th>
      
                  <th class="sort">EXAMINER</th>
                  <th class="sort">DATE</th>
      
                  <th class="sort">SCORE</th>
                  <th class="sort">STATUS</th>
                </tr>
              </thead>
              <tbody *ngFor="let candidate of gradedCandidatesByProgram">
                <tr>
                  <td>{{ candidate.name }}</td>
                  <td>{{ candidate.examNumber }}</td>
                  <td>{{ candidate.programName }}</td>
                  <td>{{ candidate.institution }}</td>
                  <td>{{ candidate.examinerName }}</td>
                  <td>{{ candidate.stamp | date : "dd/MM/yyyy hh:mm a" }}</td>
      
                  <!--  -->
                  <td>{{ candidate.score }}</td>
                  <!-- pending if stamp is null , completed  if not null -->
                  <td>
                    <span
                      class="badge badge-soft-success"
                      *ngIf="candidate.stamp != null"
                    >
                      Completed</span
                    >
                    <span
                      class="badge badge-soft-danger"
                      *ngIf="candidate.stamp == null"
                    >
                      Pending</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
        <ng-template #markingGuide role="document" let-modal>
          <div class="card">
            <div class="text-center mt-1">
              <div class="card-header">
                <h3>Marking Guide</h3>
                <p class="text-muted mb-0">
                  This will guide you on how to grade cadidate's in this section
                </p>
              </div>
            </div>
            <div class="card-body">
              <div class="mb-1">
                <ol>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                    fugit aut numquam repudiandae, nam eligendi sapiente eveniet
                    corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate
                    animi nihil! Est, deleniti quia. <strong> (5marks)</strong>
                  </li>
                  <br />
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                    fugit aut numquam repudiandae, nam eligendi sapiente eveniet
                    corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate
                    animi nihil! Est, deleniti quia. <strong> (5marks)</strong>
                  </li>
                  <br />
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                    fugit aut numquam repudiandae, nam eligendi sapiente eveniet
                    corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate
                    animi nihil! Est, deleniti quia. <strong> (5marks)</strong>
                  </li>
                  <br />
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                    fugit aut numquam repudiandae, nam eligendi sapiente eveniet
                    corrupti fugiat officiis quam qui suscipit. Veritatis cupiditate
                    animi nihil! Est, deleniti quia. <strong> (5marks)</strong>
                  </li>
                </ol>
              </div>
              <button class="btn btn-danger float-end" (click)="cancel()">
                Close
              </button>
            </div>
          </div>
        </ng-template>
      
        <ng-template #grader>
          <div class="card">
            <div class="d-flex justify-content-end">
              <i class="btn btn-close p-3" (click)="cancel()"></i>
            </div>
      
            <div class="text-center mt-1 card-header">
              <h3>Candidate Grading</h3>
              <p class="text-muted mb-0">
                You are about to grade Candidate with the following details below
              </p>
            </div>
      
            <div class="mt-4 card-body">
              <div class="mb-3">
                <div class="text-center">
                  <img
                    class="img-thumbnail"
                    src="assets/images/users/avatar-7.jpg"
                    alt="candidate Passport"
                  />
                </div>
                <br />
      
                <div class="text-start">
                  <p><strong> Candidate Name:</strong> {{ candidateToGrade.name }}</p>
                  <p>
                    <strong> Exam Number:</strong> {{ candidateToGrade.examNumber }}
                  </p>
                  <p><strong> Program:</strong> {{ candidateToGrade.programName }}</p>
                  <p>
                    <strong> Institution:</strong> {{ candidateToGrade.institution }}
                  </p>
                </div>
      
                <label for="exampleFormControlInput1"
                  ><strong> Candidate Grade:</strong> {{ candidateToGrade.score }}
                </label>
                <div class="input-group mb-3 mt-3">
                  <input
                    type="number"
                    step="0.1"
                    class="form-control"
                    [disabled]="candidateToGrade.vivaScoreId != null"
                    #grade
                    placeholder="Input Candidate Grade"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    id="button-addon2"
                    [disabled]="candidateToGrade.vivaScoreId != null"
                    (click)="gradeCandidate(candidateToGrade.id, grade.value)"
                  >
                    Grade
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
</ng-container>


