
    <div class=" card-body row p-5">
        <div class="text-center mb-5">
          <img
            class="img-thumbnail mb-4 img-fluid rounded-circle"
            src="assets/images/users/avatar-7.jpg"
            alt="candidate-photo"
          />
      
          <h4>Below are your examination(s)</h4>
          <p>
            Kindly note that clicking on "start exam" takes you to the instruction
            page of the exam
          </p>
        </div>
      
        <div class="mb-3 text-end">
          <strong class="text-primary"
            >Total Examination(s): {{ exams.length }}</strong
          >
        </div>
        <hr>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-xxl-3 col-lg-3" *ngFor="let exam of exams">
                  <div class="card card-body">
                    <div class="d-flex">
                      <div class="avatar-sm mb-3">
                        <div
                          class="avatar-title bg-soft-primary text-primary  rounded "
                        >
                         <div class="fs-10 p-4">{{exam.code}}</div> 
                        </div>
                      </div>
                      <div class="align-bottom col-10 mx-2">
                        <h6>{{exam.name}}</h6>
                        <p class="text-muted">{{exam.duration}}</p>
                        
                      </div>
                    </div>
          
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-sm btn-primary">Start exam</button>
                    </div>
                  </div>
                </div>
                
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- end col -->

        </div>
        
      </div>
      