<div class="m-2">
  <div class="profile-foreground position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg"></div>
  </div>
  <div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
    <div class="row g-1">
      <div class="col-auto">
        <div class="avatar-lg">
          <img
            src="assets/images/users/avatar-7.jpg"
            alt="user-img"
            class="img-thumbnail rounded-circle"
          />
        </div>
      </div>
      <!--end col-->
      <div class="col d-flex">
        <div class="p-2">
          <h3 class="text-white mb-1">Anna Adame</h3>
          <p class="text-white-75">9876543</p>
        </div>
        <div class="col-lg-10 col-10 d-flex justify-content-end">
          <div class="p-2">
            <h4 class="text-white mb-1">BASIC ACCOUNTING</h4>
            <p class="fs-14 mb-0 text-white-75">60mins</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <!--end col-->
    </div>
    <!--end row-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div>
        <div class="d-flex">
          <div class="row">
            <div class="col-xxl-3 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-3">Candidate Information</h5>

                  <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                      <tbody>
                        <tr>
                          <th class="ps-0" scope="row">Full Name :</th>
                          <td class="text-muted">Anna Adame</td>
                        </tr>
                        <tr>
                          <th class="ps-0" scope="row">Exam No. :</th>
                          <td class="text-muted">9876543</td>
                        </tr>
                        <tr>
                          <th class="ps-0" scope="row">E-mail :</th>
                          <td class="text-muted">daveadame@multilent.com</td>
                        </tr>
                        <tr>
                          <th class="ps-0" scope="row">Seat Number :</th>
                          <td class="text-muted">365</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end card body -->
              </div>
              <!-- end card -->

              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                    <div class="flex-grow-1">
                      <h5 class="card-title mb-0">Subjects</h5>
                    </div>
                  </div>
                  <div>
                    <div class="d-flex align-items-center py-3">
                      <div class="avatar-sm me-2">
                        <div
                          class="avatar-title rounded bg-soft-success text-success"
                        >
                          BA
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <div>
                          <h5 class="fs-14 mb-1">Basic Accounting</h5>
                          <p class="fs-13 text-muted mb-0">90mins</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center py-3">
                      <div class="avatar-sm me-2">
                        <div
                          class="avatar-title rounded bg-soft-success text-success"
                        >
                          EL
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <div>
                          <h5 class="fs-14 mb-1">English Language</h5>
                          <p class="fs-13 text-muted mb-0">30mins</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center py-3">
                      <div class="avatar-sm me-2">
                        <div
                          class="avatar-title rounded bg-soft-success text-success"
                        >
                          MC
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <div>
                          <h5 class="fs-14 mb-1">Mass Communication</h5>
                          <p class="fs-13 text-muted mb-0">60mins</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end card body -->
              </div>
              <!--end card-->
            </div>
            <!--end col-->
            <div class="col-xxl-9">
              <div class="card">
                <div class="card-body">
                  <h5 class="mb-3 card-title">Candidate Instruction</h5>

                  <ol>
                    <li class="mb-2 text-muted">
                      Make sure that the picture and the exam number on the
                      computer screen are yours. if they are not yours report to
                      the supervisor. <
                    </li>
                    <li class="mb-2 text-muted">
                      The examination consists of
                      <strong>100 OBJECTIVE</strong> questions and you are
                      expected to answer all questions.
                    </li>
                    <li class="mb-2 text-muted">
                      The duration of the examination is
                      <strong>1 hour</strong> (60 minutes) and you can attempt
                      the questions in any order you wish.
                    </li>
                    <li class="mb-2 text-muted">
                      If you are not familiar with the use of a computer mouse,
                      use the
                      <strong><q>A</q>,<q>B</q>,<q>C</q>,<q>D</q></strong>
                      buttons on the keyboard to
                      <strong>select an answer</strong> and use the
                      <strong><q>N</q> & <q>P</q></strong> buttons on the
                      keyboard to navigate to
                      <strong> Next and Previous question</strong>
                    </li>
                    <li class="mb-2 text-muted">
                      If you are familiar with the mouse you can select, answers
                      to the next questions by clicking on the option, and you
                      can move to any question by clicking the question number
                      at the bottom of the page.
                    </li>
                    <li class="mb-2 text-muted">
                      You are free to skip a question and come back to it later.
                    </li>
                    <li class="mb-2 text-muted">
                      Once a candidate submits his/her exam, it is not possible
                      to go back or undo the submission.
                    </li>
                    <li class="mb-2 text-muted">
                      If your time is up, the examination will submit itself and
                      you will be logged out.
                    </li>
                    <li class="mb-2 text-muted">
                      Click the <strong>Start Exam Button</strong> to begin your
                      examination.
                    </li>
                  </ol>
                </div>
                <div class="flex-shrink-0 text-end m-3">
                  <button class="btn btn-success" (click)="startExam()">
                    <i class="ri-edit-box-line align-bottom"></i> Start Exam
                  </button>
                </div>
              </div>
              <!-- end card -->

              <div class="card">
                <div class="card-body m-2">
                  <h5 class="card-title mb-4">Keyboard Shortcuts</h5>
                  <div class="row align-items-start card p-5">
                    <div class="d-flex mb-2">
                      <div></div>
                      <div class="col-4">
                        <div class="d-flex gap-2">
                          <button
                            type="button"
                            class="btn btn-primary btn-label waves-effect waves-light"
                          >
                            <i class="label-icon fs-16">A</i> Selects option A
                          </button>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex gap-2">
                          <div class="d-flex gap-2">
                            <button
                              type="button"
                              class="btn btn-primary btn-label waves-effect waves-light"
                            >
                              <i class="label-icon fs-16"> B</i>Selects option B
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex gap-2">
                          <div class="d-flex gap-2">
                            <button
                              type="button"
                              class="btn btn-primary btn-label waves-effect waves-light"
                            >
                              <i class="label-icon fs-16"> C</i>Selects option C
                            </button>
                          </div>
                        </div>
                      </div>
                      <div></div>
                    </div>

                    <div class="d-flex">
                      <div class="col-4">
                        <div class="d-flex gap-2">
                          <div class="d-flex gap-2">
                            <button
                              type="button"
                              class="btn btn-primary btn-label waves-effect waves-light"
                            >
                              <i class="label-icon fs-16"> D</i>Selects option D
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex gap-2">
                          <div class="d-flex gap-2">
                            <button
                              type="button"
                              class="btn btn-primary btn-label waves-effect waves-light"
                            >
                              <i class="label-icon fs-16"> N</i>Next Question
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex gap-2">
                          <div class="d-flex gap-2">
                            <button
                              type="button"
                              class="btn btn-primary btn-label waves-effect waves-light"
                            >
                              <i class="label-icon fs-16"> P</i>Previous
                              Question
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end card body -->
              </div>
              <!-- end card -->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!-- Tab panes -->
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
