<app-breadcrumbs
  title="PROCEDURE REQUIREMENT"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<h6 class="no-print">Select procedure to view requirement</h6>

<ng-select
  class="no-print"
  [items]="procedures"
  bindLabel="name"
  placeholder="Select procedure"
  (change)="captureProcedure($event)"
>
</ng-select>

<div
  class="card"
  *ngIf="procedureReq != null && procedureReq.instruction != null"
>
  <div class="card-body" style="height: 60vh">
    <h5 class="card-header">Requirement For {{ procedureName }}</h5>
    <span
      *ngIf="procedureReq != null && procedureReq.instruction != null"
      class="mt-5 fs-23"
      [innerHTML]="procedureReq.instruction"
    >
    </span>
  </div>
  <button
    class="btn btn-sm btn-primary no-print"
    (click)="printProcedureInstruction()"
  >
    Print Procedure Requirement
  </button>
</div>
